@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
/*GENERALES*/
*{
	font-family: 'Inter', serif;
	padding: 0;
	margin: 0;
	list-style: none;
}
/*HEADER*/

/*MAIN*/

/*FOOTER*/